<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO" monitorInterval="1800">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%t] %c(%M:%L) %-4r %x - %m%n " />
		</Console>
		<!--当日志内容达到指定范围后，以某种定义规则打包日志文件 -->
		<RollingFile name="RollingFile" fileName="/home/logs/${project.artifactId}.log"
			filePattern="/home/logs/${project.artifactId}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%t] %c(%M:%L) %-4r %x - %m%n " />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!--当日志大小达到50MB时，以上述filePattern定义的格式进行打包压缩 -->
				<SizeBasedTriggeringPolicy size="50MB" />
			</Policies>
			<!--压缩包数量不超过20 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<!-- 异步输出文件 -->
		<Async name="Async">
			<AppenderRef ref="RollingFile" />
		</Async>
	</appenders>
	<loggers>
		<logger name="com.yjtoon.school.mapper" level="TRACE" additivity="false">
			<appender-ref ref="Console" />
		</logger>
		<root level="INFO">
			<appender-ref ref="Console" />
			<!--<appender-ref ref="RollingFile" /> -->
		</root>
	</loggers>
</configuration>
