*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
a {
    text-decoration: none;
}
p{
    margin: 0;
}
.lt{
    float: left;
}
.rt{
    float: right;
}
.clearfix{
    overflow: hidden;
}
