/*外层最大的盒子*/
.contentBox{
    width: 100%;
    padding: 29px 0 0 0px;
    box-sizing: border-box;
}
/*班级*/
.contentBox .classRoom{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.contentBox .classRoom span:nth-of-type(1){
    float: left;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
}
.contentBox .classRoom span:nth-of-type(2){
    float: right;
    width: 88px;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background: #4D98E2;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-right: 1.6%;
}
.contentBox .classRoom span:nth-of-type(2):hover{
    cursor: pointer;
}
/*表格*/
.tableBox{
    width: 100%;
    margin-bottom: 37px;
    white-space: nowrap;
    overflow-x: auto;
}
.tableBox .layui-table{
    text-align: center;
}
.tableBox .layui-table thead{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 16px;
}
.tableBox .layui-table thead tr{
    background-color: #4D98E2;
    height: 40px;
}
.tableBox .layui-table thead tr{
    width: 25%;
}
.tableBox .layui-table tbody{
    background: #F6FBFF;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
}
.tableBox .layui-table tbody tr{
    height: 40px;
}
.tableBox .layui-table tbody tr:hover{
    background: rgb(237,245,252);
}
.tableBox .layui-table tbody tr span{
    font-size: 14px;
    color: #4D98E2;
    line-height: 14px;
    text-decoration: underline;
}
.tableBox .layui-table tbody tr span:hover{
    cursor: pointer;
}
.tableBox .layui-table td,
.tableBox  .layui-table th,
.tableBox .layui-table-fixed-r,
.tableBox .layui-table-header,
.tableBox .layui-table-page,
.tableBox .layui-table-tips-main,
.tableBox .layui-table-tool,
.tableBox .layui-table-view,
.tableBox .layui-table[lay-skin=line],
.tableBox .layui-table[lay-skin=row]{
    border-color: #fff!important;
}
/*分页*/
.pageContair{
    width: 100%;
    padding-right: 1.6%;
    box-sizing: border-box;
    text-align: right;
}
.pageContair .layui-laypage a,.pageContair .layui-laypage span{
    background: #F6FBFF;
    border-radius: 2px;
    font-size: 14px;
    color: #4D98E2;
    border: 1px solid #F6FBFF;
}
.pageContair .layui-laypage a {
    margin-right: 7px!important;
}
.pageContair .layui-laypage a:last-child{
    margin-right: 0!important;
}
.pageContair .layui-laypage a:hover,.pageContair .layui-laypage span:hover{
    color: #4D98E2;
}
/*暂无内容*/
.contentBox .nothing-box{
    width: 100%;
    margin: 0 auto 3.4%;
    display: none;
}
.contentBox .nothing-box p{
    text-align: center;
    font-size: 15px;
    color: #606060;
    letter-spacing: 0;
    line-height: 20px;
}
.contentBox .nothing-box p img {
    width: 120px;
    margin-bottom: 30px;
}
/*灰色遮罩层*/
.gray_layersBox{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.30);
    display: none;
}
/*添加成绩的弹框*/
.add_layersBox{
    position: absolute;
    top: 6%;
    left: 26%;
    z-index: 10;
    width: 601px;
    height: 566px;
    border-radius: 2px;
    display: none;
}
.add_layersBox .top-title{
    width: 100%;
    height: 49px;
}
.add_layersBox .top-title p{
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background-color: #4D98E2;
}
.add_layersBox .top-title p span{
    float: left;
    margin-left: 269px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.add_layersBox .top-title p .names{
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 14px;
}
.add_layersBox .top-title p img{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 210px;
    margin-top: 4px;
}
.add_layersBox .top-title p img:hover{
    cursor: pointer;
}
.add_layersBox .maxTextBox{
    width: 100%;
    height: 517px;
    background-color: #fff;
    padding: 28px 20px 21px 20px;
    box-sizing: border-box;
}
.add_layersBox .maxTextBox .select-box{
    width: 100%;
    margin-bottom: 28px;
}
.add_layersBox .maxTextBox .select-box span{
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
    margin-right: 10px;
}
.add_layersBox .maxTextBox .select-box select{
    width: 248px;
    height: 39px;
    outline: none;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 14px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-left: 10px;
    box-sizing: border-box;
    background: #fff url("../images/icon_sanjiao.png") no-repeat 228px center;
    background-size: 10px 5px;
}
.add_layersBox .maxTextBox .select-box select::-ms-expand{
    display: none;
}
/*成绩*/
.add_layersBox .maxTextBox  .result-box{
    width: 561px;
    height: 317px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
}
.add_layersBox .maxTextBox  .result-box .layui-table thead tr {
    background: rgba(77,152,226,0.40);
    height: 40px;
}
.add_layersBox .maxTextBox  .result-box .layui-table thead tr th{
    font-size: 14px;
    color: #666666;
    line-height: 16px;
}
.add_layersBox .maxTextBox  .result-box  .layui-table tbody{
    width: 100%;
    background: #F6FBFF;
}
.add_layersBox .maxTextBox  .result-box  .layui-table tbody tr{
    height: 45px;
    text-align: center;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    border-bottom: 1px solid #fff;
}
.add_layersBox .maxTextBox  .result-box  .layui-table tbody tr:hover{
    background: #F6FBFF;
}
.add_layersBox .maxTextBox  .result-box  .layui-table tbody tr td input{
    width: 170px;
    height: 25px;
    text-align: center;
    border: 1px solid #F6FBFF;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    border-radius: 3px;
    background: #F6FBFF;
}
.add_layersBox .maxTextBox  .result-box  .layui-table tbody tr td input.active{
    border: 1px solid #F6FBFF;
    box-shadow: 1px 0px 3px #DCEDEB;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    border-radius: 3px;
    background: #fff;
}
/*保存按钮*/
.add_layersBox .maxTextBox  .btn-save{
    width: 100%;
    text-align: center;
}
.add_layersBox .maxTextBox  .btn-save button{
    width: 80px;
    height: 39px;
    border: none;
    outline: none;
    background: #4D98E2;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
}
.add_layersBox .maxTextBox  .btn-save button:hover{
    cursor: pointer;
}
.tableHead{
    width: 561px;
    height: 40px;
    overflow: hidden;
    background: rgba(77,152,226,0.40);
}
.tableHead li{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #666666;
}
/*.layui-table{
    margin: 0!important;
}*/
  .add_layersBox .maxTextBox .change-boxs{
    margin-bottom: 20px;
}
.layui-tables{
    width: 561px;
    background: #F6FBFF;
}
.layui-tables #students_addResult{
    width: 561px;
    background: #F6FBFF;
}
.layui-tables #edit_contents{
    width: 561px;
    background: #F6FBFF;
}
.layui-tables tr{
    width: 561px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.layui-tables tr td{
    width: 50%;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
}
.layui-tables tr td input{
    width: 170px;
    height: 25px;
    text-align: center;
    border: 1px solid #F6FBFF;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    border-radius: 3px;
    background: #F6FBFF;
}
.layui-tables tr td input.active{
    border: 1px solid #F6FBFF;
    box-shadow: 1px 0px 3px #DCEDEB;
    font-size: 14px;
    color: #999999;
    line-height: 14px;
    border-radius: 3px;
    background: #fff;
}
/*删除的弹框*/
.delete_layersBox{
    position: absolute;
    top: 40.6%;
    left: 40.9%;
    z-index: 10;
    width: 350px;
    height: 228px;
    border-radius: 2px;
    display: none;
}
.delete_layersBox .top-title{
    width: 100%;
    height: 49px;
}
.delete_layersBox .top-title p{
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background-color: #4D98E2;
}
.delete_layersBox .top-title p span{
    float: left;
    margin-left: 159px;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.delete_layersBox .top-title p img{
    position: relative;
    width: 40px;
    height: 40px;
    right: -51px;
}
.delete_layersBox .top-title p img:hover{
    cursor: pointer;
}
.delete_layersBox .bottom-text{
    width: 100%;
    height: 179px;
    background-color: #fff;
}
.delete_layersBox .bottom-text .imgTitle {
    width: 100%;
}
.delete_layersBox .bottom-text .imgTitle img{
    width: 50px;
    margin: 30px 10px 30px 82px;
}
.delete_layersBox .bottom-text .imgTitle img:hover{
    cursor: pointer;
}
.delete_layersBox .bottom-text .imgTitle span{
    font-size: 14px;
    color: #424754;
    line-height: 14px;
}
.delete_layersBox .bottom-text .btnBack{
    width: 100%;
    text-align: center;
}
.delete_layersBox .bottom-text .btnBack button{
    width: 80px;
    height: 39px;
    border:none;
    outline: none;
    font-size: 14px;
    line-height: 14px;
    border-radius: 2px;
}
.delete_layersBox .bottom-text .btnBack button:hover{
    cursor: pointer;
}
.delete_layersBox .bottom-text .btnBack button:nth-of-type(1){
    background-color: #4D98E2;
    color: #fff;
    border: 1px solid #4D98E2;
    margin-right: 20px;
}
.delete_layersBox .bottom-text .btnBack button:nth-of-type(2){
    background: #F8F8F8;
    border: 1px solid #ECF0F1;
    color: #4D98E2;
}
.addition{
    position: absolute;
    top: 6%;
    left: 26%;
    z-index: 10;
    width: 601px;
    height: 584px;
    border-radius: 2px;
}
.addition .maxTextBox{
    width: 100%;
    height: 535px;
    background-color: #fff;
    padding: 28px 20px 21px 20px;
    box-sizing: border-box;
}

.addition .layui-table td,
.addition .layui-table th,
.addition .layui-table-fixed-r,
.addition .layui-table-header,
.addition .layui-table-page,
.addition .layui-table-tips-main,
.addition .layui-table-tool,
.addition .layui-table-view,
.addition .layui-table[lay-skin=line],
.addition .layui-table[lay-skin=row]{
    border-color: #fff!important;
}


